<app-navigation-bar></app-navigation-bar>
<div class="container" style="padding-top: 100px;">
  <h1>About us</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Amet atque aut commodi consectetur, consequatur ea enim ex harum laudantium quam quas quibusdam quo reiciendis rerum ullam velit veritatis voluptas voluptatibus.
  </p>
  <p>
    Proin a malesuada nisl. Maecenas fermentum lectus risus, ut finibus dolor volutpat maximus. Integer pulvinar pulvinar sapien, eu commodo risus blandit lacinia. Donec metus risus, malesuada non magna ac, dapibus iaculis mauris. Curabitur vestibulum nibh quis vulputate pretium. Fusce dictum sapien quis pretium porttitor. Mauris dignissim blandit auctor. Aenean porta efficitur nulla vel tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tortor velit, ac tincidunt metus viverra in. In iaculis sapien vel lacus ultrices, eu ultrices arcu hendrerit. In hac habitasse platea dictumst.

    Mauris interdum at mauris nec pulvinar. Sed quis suscipit nisi, a malesuada sapien. Praesent ornare consequat erat, vel pulvinar nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis dui risus, fermentum sit amet gravida a, luctus nec urna. Vivamus suscipit pulvinar ipsum et laoreet. Ut eget consectetur dui.
  </p>
</div>
<app-footer></app-footer>
