<app-navigation-bar></app-navigation-bar>

<!-- Page Content -->
<div class="container" style="padding-top: 56px;">
  <div class="row">
    <div class="col-md-8"><h1>Register as {{flavor}}</h1></div>
    <div class="col-md-4">
      <div class="btn-group" btnRadioGroup [(ngModel)]="flavor">
        <label class="btn btn-success" btnRadio="Customer" tabindex="0" role="button">Customer</label>
        <label class="btn btn-success" btnRadio="Professional" tabindex="0" role="button">Professional</label>
      </div>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName" class="col-form-label">First name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First name" formControlName="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName" class="col-form-label">Last name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="First name" formControlName="lastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="staticEmail" class="col-form-label">Your Email</label>
        <input type="email" class="form-control" id="staticEmail" placeholder="Your email" formControlName="email">
      </div>
      <div class="form-group col-md-6">
        <label for="phoneNumber" class="col-form-label">Your phone number</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Your phone number" formControlName="phone">
      </div>
    </div>

    <div class="card" style="margin-bottom: 20px">
      <div class="card-header">
        Address
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="input-group col-md-12">
            <input id="autocomplete" ngx-google-places-autocomplete class="form-control"
                   #placesRef="ngx-places"
                   [options]="googleOptions"
                   (onAddressChange)="handleAddressChange($event)" formControlName="addressSearchToken">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="resetAddress()"><i class="fa fa-recycle"></i> Reset</button>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="commune" class="col-form-label">Commune</label>
            <input type="email" class="form-control" id="commune" placeholder="Commune" formControlName="commune">
          </div>
          <div class="form-group col-md-6">
            <label for="zipcode" class="col-form-label">Zip code</label>
            <input type="email" class="form-control" id="zipcode" placeholder="Zip code" formControlName="zipCode">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="street" class="col-form-label">Street</label>
            <input type="email" class="form-control" id="street" placeholder="Street" formControlName="street">
          </div>
          <div class="form-group col-md-6">
            <label for="houseNumber" class="col-form-label">House number</label>
            <input type="email" class="form-control" id="houseNumber" placeholder="House number" formControlName="houseNumber">
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-bottom: 20px">
      <div class="card-header">
        <div class="form-check">
          <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="attachUser" (change)="onAttachUser($event)">
            <label class="custom-control-label" for="attachUser">Attach user</label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username" class="col-form-label">Username</label>
            <input type="email" class="form-control" id="username" placeholder="Your username" formControlName="username">
          </div>
          <div class="form-group col-md-6">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Your password" formControlName="password">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Send</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
