<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['/dashboard']">{{ title }}</a>
  <ul class="navbar-nav px-2">
    <li class="nav-item">
      <a class="nav-link p-2" href="#"><i class="fa fa-user-circle"></i> Welcome Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="#">Sign out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="#">Sign out</a>
    </li>
  </ul>
</nav>
