<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['professions']"><i class="fa fa-home"></i> Professions</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['professionals']"><i class="fa fa-cogs"></i> Professionals</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['customers']"><i class="fa fa-users"></i> Customers</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['services']"><i class="fa fa-server"></i> Services</a>
    </li>
  </ul>

</div>
