<app-top-bar></app-top-bar>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <app-sidebar></app-sidebar>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissible]="alert.dismissible" (onClosed)="onClosed(alert)">{{ alert.msg }}
        </alert>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="../../../assets/unknown.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Professional: N° {{professional.regNumber}}</h5>
              <dl class="row">
                <dt class="col-sm-3">First name:</dt>
                <dd class="col-sm-9">{{professional.firstName}}</dd>

                <dt class="col-sm-3">Last name:</dt>
                <dd class="col-sm-9">{{professional.lastName}}</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">{{professional.email}}</dd>

                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9">{{professional.phone}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">Street:</dt>
                <dd class="col-sm-9">{{professional.address.street}}, {{professional.address.number}}</dd>

                <dt class="col-sm-3">Commune:</dt>
                <dd class="col-sm-9">{{professional.address.zipcode}}, {{professional.address.commune}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <form [formGroup]="orderForm" (ngSubmit)="onCreateOrder()" [collapse]="isOrderFormCollapsed">
            <input type="hidden" formControlName="professionId">
            <input type="hidden" formControlName="professionalId">
            <div class="card">
              <div class="card-header">
                <strong>Commande: </strong> {{selectedExpertise?.profession.title}}
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-sm-4">
                    <label for="orderDate">Début de service</label>
                    <p-calendar formControlName="startTime" id="orderDate" [minDate]="minimumDate"></p-calendar>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="orderTotal">Total</label><span id="orderTotal"> {{totalOrderPrice}} Euro</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <label for="orderHours">Heures</label>
                    <p-selectButton [options]="hoursOptions" [formControl]="orderForm.controls['selectedHours']"
                                    multiple="multiple" id="orderHours" (onChange)="onOrderHourChange()"></p-selectButton>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-6">
                    <button class="form-control btn btn-sm btn-success" [disabled]="!orderForm.valid" id="btnCommander">Commander</button>
                  </div>
                  <div class="col-md-6">
                    <button class="form-control btn btn-sm btn-warning" (click)="onOrderFormReset()">Annuler</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <nav class="navbar navbar-light bg-light">
            <span class="display-4">Expertise</span>
            <button type="button" class="btn btn-success" (click)="openModal(false, template, null)"><i
              class="fa fa-plus-circle"></i> Add
            </button>
          </nav>
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Profession</th>
              <th scope="col">Category</th>
              <th scope="col">Hourly Rate</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expertise of professional.expertises; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ expertise.profession.title }}</td>
              <td>{{ expertise.profession.category }}</td>
              <td>{{ expertise.unitPrice }} Euro</td>
              <td>
                <div class="btn-toolbar" role="toolbar">
                  <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Actions group">
                    <a [routerLink]="['/professionals/' + professional.id]" class="btn btn-outline-warning">Edit</a>
                    <button type="button" class="btn btn-outline-warning"
                            (click)="onOrderBtnClick(expertise)">Commander
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <nav class="navbar navbar-light bg-light">
            <span class="display-4">Services</span>
            <button type="button" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add</button>
          </nav>
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Created</th>
              <th scope="col">Expertise</th>
              <th scope="col">Execution date</th>
              <th scope="col">Time frame</th>
              <th scope="col">Total cost</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Expertise</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="expertiseModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="expertiseForm" (ngSubmit)="onCreateExpertise()">
      <div class="form-group row">
        <label for="professionTitle" class="col-form-label col-sm-3">Profession</label>
        <div class="input-group col-sm-9">
          <select class="custom-select" id="professionTitle" formControlName="professionId" readonly>
            <option *ngFor="let profession of dropDownProfessions" [value]="profession.id">{{profession.title}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="expertiseRate" class="col-form-label col-sm-3">Rate</label>
        <div class="input-group col-sm-9">
          <input type="text" class="form-control" id="expertiseRate"
                 formControlName="rate">
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!expertiseForm.valid">Save</button>
    </form>
  </div>
</ng-template>
